 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Nome" class="text-light">Nome</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="nome" value="" placeholder="Digite um nome">
        </div>

        <div class="form-group">
            <label for="Sobrenome" class="text-light">Sobrenome</label>
            <input type="text" name="sobrenome" value="" placeholder="Digite um sobrenome">
        </div>

        <div class="form-group">
            <label for="Empresa" class="text-light">Empresa</label>
            <input type="text" name="empresa" value="" placeholder="Digite a empresa">
        </div>

        <div class="form-group">
            <label for="Cargo" class="text-light">Cargo</label>
            <input type="text" name="cargo" value="" placeholder="Digite o cargo">
        </div>

        <div class="form-group">
            <label for="Apelido" class="text-light">Apelido</label>
            <input type="text" name="apelido" value="" placeholder="Digite um apelido">
        </div>

        <div class="form-group">
            <label for="Data_Aniversario" class="text-light">Data Aniversario</label>
            <input type="text" name="data_aniversario" value="" placeholder="Digite o aniversario">
        </div>

        <div class="form-group">
            <label for="Emails" class="text-light">Emails</label>
            <input type="text" name="emails" value="" placeholder="Digite os emails">
        </div>

        <div class="form-group">
            <label for="Telefones" class="text-light">Telefones</label>
            <input type="text" name="telefones" value="" placeholder="Digite os telefones">
        </div>

        <div class="form-group">
            <label for="Enderecos" class="text-light">Enderecos</label>
            <input type="text" name="enderecos" value="" placeholder="Digite os endereços">
        </div>

        <div class="form-group">
            <label for="Observacoes" class="text-light">Observacoes</label>
            <input type="text" name="observacoes" value="" placeholder="Digite uma observação">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>